<!--<div style="background: rgb(230, 12, 12); 
            font-size: 50px; 
            padding: 10px; 
            border: 2px solid lightgray; 
            margin: 5px;">
  Nikoo <br> homes -->
  <div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card text-center" style="width: 18rem;">
    <div class="card-body">
      <h1 class="card-title" style="width: 18rem; color:red;font-style: oblique;">nikoo</h1>
      <h5 style="color:red;">&emsp;Homes</h5>
    </div>
  </div>


</div><div class="header" id="myHeader">
    <h2> Presenting Nikoo Homes|| <br> at Bharthiya city, benglur</h2>
  </div><h1>2 BHK Residential Apartment</h1>
  <h4>@Thanisandra main road, benglur</h4>
  <h3>Starting at 74 laks onwords*</h3>
  <div class="header">
    <a href="#default" class="logo">CompanyLogo</a>
    <div class="header-right">
      <a class="active" href="#i">Home</a>
      <a href="#am ">Contact</a>
      <a href="#intrusted">About</a>
    </div>
     <p style="text-align:center">connect with project expert!</p>
     <p style="text-align:center">hi seach homes india pvt lt 91-8147255535 </p>
     <html>

        <head> 
            <style> 
                p 
                { 
                    color: green; 
                    text-align: right; 
                } 
          
                .rtl { 
                    direction: rtl; 
                } 
            </style> 
        </head> 
               

<body>
    <center>
        <h1 style="color:green;font-style: oblique;">
          Highlights
        </h1>
  </center>

  
</html>
<h1>central park</h1>
<h3>Pick a spot. The lush Central Park <br> has <br>
    acres of beautifully landscaped <br> gardens made for Saturday picnics, <br> Frisbee or midnight walks.</h3>
<h1>the neighbourhood office</h1>
<h3>Situated just five minutes away <br> from <br>
    your Nikoo home, your daily <br> commute <br>
    will involve walking through the <br> breezy, lush central park, past the <br> picturesque <br>
    city centre and into work.</h3>
    <!DOCTYPE html>
    <html>
       <head>
          <title>HTML Document</title>
       </head>
    
       <body>
          <h1>Tutorial</h1>
          <p style="text-align:center;">Learn for free</p>
       </body>
    </html>